{:retro2mqtt
 {:mqtt {:host "localhost"
         :port 1883
         :username "mosquitto"
         :password "mosquitto"
         :client-id-prefix "retro2mqtt"}
  :retroarch {:enabled? true
              :config-dir "/lib/retroarch/config"
              :log-dir "/app/retroarch/logs"
              :udp {:host "localhost"
                    :port 55355
                    :timeout 10000}}
  :launchbox {:enabled? false
              :topic-prefix "launchbox"}
  :audio {:enabled? false
          :topic-prefix "audio_events"}
  :hyperspin {:enabled? false}
  :integrations {:home-assistant {:discovery? true}}}}
