{:retro2mqtt
 {:mqtt {:host "localhost"
         :port 1883
         :username "mosquitto"
         :password "mosquitto"
         :client-id-prefix "retro2mqtt"}
  :retroarch {:enabled? true
              :config-dir "/lib/retroarch/config"
              :log-dir "/app/retroarch/logs"}
  :launchbox {:enabled? false}
  :hyperspin {:enabled? false}
  :integrations {:home-assistant {:discovery? true}}}}
